<section class="cta bg-primary">
	<div class="container">
	    <h2 class="text-center" style="color: white;">TESTIMONIAL</h2>
	    <%= image_tag "home_page/customer_review_1.jpg", class:"img-responsive", alt:"" %>
	 </div>
</section>