<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>New Age - Start Bootstrap Theme</title>

</head>

<body id="abt" style="background-color: #222; color: white;">
<%=render 'home_page/nav_bar' %>

  <main id="content"><div class="content-body text-center"><div class="m-l m-r"></div><div class="page-body page-about"><div class="container"><div class="row"><div class="col-xxs-12 col-lg-12 m-x-auto"><section class="card card-lg" id="about-about"><h1 class="text-xxxl m-b-sm m-t-sm text-xxs-center">- Our Mission -</h1><p class="text-sm m-b-lg text-xxs-center">To provide the most actionable app store data.</p><h2 class="text-xxl m-b text-xxs-center">About</h2><div class="text-xs text-justify m-x-auto text-center" style=""><p class="m-b-xs">At Apptopia, we all come to work every day because we want to solve the biggest problem in mobile. <b>Everyone is guessing</b>. Publishers don’t know what apps to build, how to monetize them, or even what to price them at. Advertisers &amp; brands don’t know where their target users are, how to reach them, or even how much they need to spend in order to do so. Investors aren’t sure which apps and genres are growing the quickest, and where users are really spending their time (and money).</p><p class="m-b-xs">Throughout the history of business, people use <b>data</b> to make more informed decisions. Our mission at Apptopia is to make the app economy more transparent. Today we provide the most actionable mobile app data &amp; insights in the industry. We want to make this data available to as many people as possible (not just the top 5%).</p></div></section>
  

<%=render 'home_page/footer'%>
</body>

</html>
