<section class="bg-primary">
	<div class="container" style="min-height: 600px; margin-top: 74px; background: #2C2C2C">
		<div class="row center">
			<h1 align="center" style="color: #F18C06">This is Service page</h1>
			<h2 align="center" style="color: #F18C06">Service <%= params[:id] %></h2>
		</div>
	</div>
</section>