<footer>
    <div class="container-fluid bg-secondary">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <%=link_to image_tag('home_page/logo2.jpg'), root_path, class:"img-responsive", alt:"", method: :get %>
                </div>
                <div class="col-md-7 pull-right top-buffer">
                    <h2>Subscribe to our mailing list</h2>
                    <form class="form-inline">
                        <input type="text" class="form-control" maxlength="50" size="50">
                        <input type="submit" title="" class="btn_subscribe"> 
                    </form>
                </div>
            </div>
            
        </div>
        <div class="row text-center bg-third">
            <h4>Copyright 2015. Heart Machine LLC - Website Design by TDCD</h4>
        </div>
    </div>
</footer>